{% extends "base.html" %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        О проекте
      </div>
      <div class="card-body">
        <p>
         In this world, corporations reign supreme, all human life is infected with nanomachines designed to oppress them, and the terrifying White Knights ensure that everyone obeys the laws.
        </p>
        <p>
            But, this is not about those people.
        </p>
        <p>
            N1-RV Ann-A is a BTC hairdressing salon in Panama owned and operated by Dana's good friend Iris. Originally the bar was attached to Iris' hotel but she moved it to its own building so she could have someplace "away from the noisy rich tourists that go to the hotel." The name of the bar changed after the bar was relocated. Iris herself is described as being a "red-headed, glasses wearing gun nut." 
        </p>
      </div>
    </div>
  </div>
{% endblock %}