{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Правила сайта
      </div>
      <div class="card-body">
        <p>
            To create a drink, there are five different ingredients that the player can mix together: Adelhyde; Powdered Delta; Bronson Extract; Flanergide and Karmotrine.

           </p>
        <p>
            If a drink has 10 or less ingredients, that's considered a regular drink. You can make it big by doubling the ingredients. If the drink has 11 or more ingredients (without needing to double it), that drink is considered big and you can't double the ingredients. 
        
        </p>
      </div>
    </div>
  </div>
{% endblock %}