{% extends "base.html" %}
{% block title %}
  {{ service.title }} | {{ service.pub_date|date:"d E Y" }}
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        {% if service.image %}
          <a href="{{ service.image.url }}" target="_blank">
            <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ service.image.url }}">
          </a>
        {% endif %}
        <h5 class="card-title">{{ service.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <small>
                {% if not service.is_published %}
                  <p class="text-danger">Услуга снята с публикации админом</p>
                {% endif %}
                {{ service.pub_date|date:"d E Y, H:i" }}<br>
            </small>
        </h6>
        <p class="card-text">{{ service.text|linebreaksbr }}</p>
        {% if user.is_staff %}
          <div class="mb-2">
            <a class="btn btn-sm text-muted" href="{% url 'main:edit_service' service.id %}" role="button">
              Отредактировать услугу
            </a>
            <a class="btn btn-sm text-muted" href="{% url 'main:delete_service' service.id %}" role="button">
              Удалить услугу
            </a>
          </div>
        {% endif %}
        {% include "includes/orders.html" %}
      </div>
    </div>
  </div>
{% endblock %}