{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  {% if '/edit_order/' in request.path %}
    Редактирование комментария
  {% else %}
    Удаление комментария
  {% endif %}
{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 40rem;">
        <div class="card-header">
          {% if '/edit_order/' in request.path %}
            Редактирование записи
          {% else %}
            Удаление записи
          {% endif %}
        </div>
        <div class="card-body">
          <form method="post"
            {% if '/edit_order/' in request.path %}
              action="{% url 'main:edit_order' order.service.id order.id %}"
            {% endif %}>
            {% csrf_token %}
            {% if not '/delete_order/' in request.path %}
              {% bootstrap_form form %}
            {% else %}
              <p>{{ order.text }}</p>
            {% endif %}
            {% bootstrap_button button_type="submit" content="Отправить" %}
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}